.container {
    margin: 25px;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 25px
}

.colorCard {
    height: 260px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 40px 0px rgba(34, 34, 34, 0.05);
    -moz-box-shadow: 5px 5px 40px 0px rgba(34, 34, 34, 0.05);
    box-shadow: 5px 5px 40px 0px rgba(34, 34, 34, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    animation: fadeIn 1s forwards;
    opacity: 0;
    background: #ffffff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.colorName {
    position: absolute;
    top: 25px;
    left: 25px;
    font-weight: 600;
    font-size: 0.8em;
}

.success {
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 99;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
background: #ffffff;
opacity: 0;
animation: success 1s forwards;
font-weight: 600;
display: none;
}

.show {
    display: block;
}

@keyframes success {
    0% {
    opacity: 0;
    border-radius: 100%
    }

    100% {
        opacity: .5;
        border-radius: 10px;
    }
}

.color {
    cursor: pointer;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
}

.color:hover {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    z-index: 9;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.colorCode {
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-weight: 600;
    font-size: 0.8em;
    opacity: .25;
}

.copyCode {
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-weight: 600;
    font-size: 0.8em;
    cursor: pointer;
    opacity: .25;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.copyCode:hover {
    opacity: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}