header {
    height: 100px;
    width: 100%;
  }

  @keyframes headerIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .headerContainer {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    margin: 1em 0;
    float: left;
    animation: headerIn 1s forwards;
    opacity: 0;
  }
  
  nav {
    float: right;
    margin: 2.5em 0;
  }
  
  ul {
    list-style: none;
    display: inline-flex;
  }
  
  li {
    margin-left: 25px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    animation: headerIn 1s .4s forwards;
    opacity: 0;
  }
  
  li::before {
    content: '';
    background-color: #222222;
    position: absolute;
    top: 100%;
    margin-top: -0.5px;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
  
  }
  
  li:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }