@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
  color: #222222;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

/* Success message */

.success {
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  top: 25px;
  width: 150px;
  height: 75px;
  border-radius: 10px;
  z-index: 99;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  animation: success 1s forwards;
  font-weight: 600;
  color: #22222275;
  display: none;
  -webkit-box-shadow: 5px 5px 40px 0px rgba(34, 34, 34, 0.1);
  -moz-box-shadow: 5px 5px 40px 0px rgba(34, 34, 34, 0.1);
  box-shadow: 5px 5px 40px 0px rgba(34, 34, 34, 0.1);
}

.removeSuccess {
  animation: removeSuccess 1s 3s forwards;
}

@keyframes success {
  0% {
  opacity: 0;
  transform: translateY(-120%)
  }

  100% {
      opacity: 1;
      transform: translateY(0)
  }
}

@keyframes removeSuccess {
  0% {
    opacity: 1;
    transform: translateY(0)
  }

  100% {
      opacity: 0;
      transform: translateY(-120%)
  }
}
/* Mobile Menu */

.mobileMenu {
  height: 25px;
  width: 100%;
  display: none;
}

.mobileMenu nav {
  float: none;
  max-width: 1200px;
  margin: 0 auto;
}

.mobileMenu li {
  margin: 0 0px 0 25px;
}

@media only screen and (max-width: 772px) {
  .mobileMenu {
    display: block;
  }

}